= content_for :javascript do
  = javascript_include_tag "meetings-show"
  = javascript_include_tag "meetings-done"
= content_for :css do
  = stylesheet_link_tag "meetings-show"
#counter-page{:data => {:id => @meeting.id,
                        :participant_count => @meeting.participant_count,
                        :checked_out_participant_count => @meeting.checked_out_participant_count,
                        :salary => @meeting.salary,
                        :cost => @meeting.cost,
                        :finished => @meeting.end_time}}
  #url-wrapper.hideable
    %div
      %button{:class => "btn btn-default", :id => "share-meeting"} Share Meeting
      %button{:class => "btn btn-default", :id => "email-meeting"} Email meeting info
      %button{:class => "btn btn-default", :id => "text-meeting"} Text Meeting
    %p#url{:onclick => "selectText(this);"}
      = request.original_url
  #middle-wrapper
    #counter-wrapper
      %span#dollar-sign $
      #flipcountdown
    %button{:class => "btn btn-success hideable", :id => "end-meeting"} End Meeting
    -##catwrap
    -#  #cat
    %p#ended-meeting-message This meeting has ended.
  #participants
    - (@meeting.participant_count-@meeting.checked_out_participant_count).times do
      %span.checked-in.glyphicon.glyphicon-user
    - @meeting.checked_out_participant_count.times do
      %span.checked-out.glyphicon.glyphicon-user
  #checkout
    %button{:class => "btn btn-success hideable hide-on-finish", :id => "checkout-meeting"} Check Out of This Meeting
  #new-meeting-wrapper
    %a{:class => "btn btn-danger show-on-finish",
       :id => "new-meeting",
       :href => root_path,
       :data => { no_turbolink: true }} Start a New Meeting
  #email-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button{:type => "button", :class => "close", :data => {:dismiss => "modal"}}
            %span{:aria => {:hidden => "true"}} &times;
            %span{:class => "sr-only"} Close
          %h4.modal-title Email meeting info
        .modal-body
          %form{:action => "/email", :id => "email-form"}
            %input{:type => "hidden", :name => "id", :value => @meeting.id}
            %input{:type => "hidden", :name => "cost", :value => @meeting.cost, :id => "email-cost"}
            %input{:type => "text", :name => "email", :placeholder => "Email Address"}
            %textarea{:name => "meeting_notes", :placeholder => "Meeting notes"}
            %input{:type => "submit", :value => "Send Email", :class => "btn btn-success"}
        .modal-footer
  #text-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button{:type => "button", :class => "close", :data => {:dismiss => "modal"}}
            %span{:aria => {:hidden => "true"}} &times;
            %span{:class => "sr-only"} Close
          %h4.modal-title Text Meeting
        .modal-body
          %form{:action => "/meetings/#{@meeting.id}/twilio/", :id => "text-form", :method => "post"}
            %input{:type => "text", :name => "phone_number_to_text", :placeholder => "Phone Number To Text"}
            %input{:type => "submit", :value => "Send Text", :class => "btn btn-success"}
        .modal-footer
