= content_for :javascript do
  = javascript_include_tag "meetings-show"
= content_for :css do
  = stylesheet_link_tag "meetings-show"
#counter-page{:data => {:id => @meeting.id,
                        :participant_count => @meeting.participant_count,
                        :salary => @meeting.salary,
                        :cost => @meeting.cost,
                        :finished => @meeting.end_time}}
  #url-wrapper.hideable
    %div
      %button{:class => "btn btn-default", :id => "share-meeting"} Share Meeting
    %p#url{:onclick => "selectText(this);"}
      = request.original_url
  #middle-wrapper
    #counter-wrapper
      %span#dollar-sign $
      #flipcountdown
    %button{:class => "btn btn-success hideable", :id => "end-meeting"} End Meeting
    %p#ended-meeting-message This meeting has ended.
  #participants
    - @meeting.participant_count.times do
      %span.glyphicon.glyphicon-user